@import url('https://fonts.googleapis.com/css?family=Playfair Display');

:root{
    /*add css variables for colors*/

}

*{
    margin:0;
    padding: 0;
    font-family:'Playfair Display', sans-serif;
}


.left-cont {
    color:white;
    
    width:30vw;
    float: left;
    background-color:#BB2100;
    
}


.left-cont ul{
    margin-bottom: 10px;
}

.left-cont ul li{
  padding: 10px 5px 5px 10px;
  

}
.right-cont h4{
  /*  padding: 10px 5px 5px 10px;*/
  padding: 0.5em 0.8em 0.5em 2.8em;
    
  
  }
  .right-cont p {
    padding: 0.1em 0.8em 0.5em 2.8em;

  }

a:link, a:visited {
    text-decoration: none;
    color:white;
}

.left-cont a:hover{
opacity: 0.5;

}



h1{
    padding: 10px;
}
h2{
    padding:10px;
    padding-top:0;
}


h3{
    background-color:#AA1E00;
    padding:0.5em;
    

}

.right-cont{
    width: 70vw;
    float:right;
    background-color:white;
}

.right-cont h3{
    border-bottom: grey 1px solid;
    border-top: grey 1px solid;
    margin:7px;
    background-color:white;
}

.lenguage-lvl{
    background-color: white;
    border-radius: 50px;
}
.skills ul li{
    list-style:square;
    margin-left: 2em;


}
.job-title{
    text-decoration: underline;
}